<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.cloud.mapper.UserMapper">

    <select id="selectUserByLoginName" parameterType="java.lang.String" resultType="com.tw.cloud.bean.user.User">
        SELECT * FROM user WHERE loginName = #{loginName}
    </select>

    <insert id="insert" parameterType="com.tw.cloud.bean.user.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (loginName, password, headerUrl, nickName,createTime, loginTime)
        values (#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{headerUrl,jdbcType=VARCHAR},
         #{nickName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}, #{loginTime,jdbcType=TIMESTAMP}
        )
    </insert>
</mapper>